/* ----------------------- Global ----------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
	margin: 0;
	padding: 0;
}

body {
	 font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	min-height: 700px;
}

/* ----------------------- main ----------------------- */

/* logo section */

.logo-section {
	background: url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	height: 25%;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	z-index: 9;
}

.logo-section h2 {
	color: #fff;
	font-size: 3.5em;
	font-weight: 600;
	margin: 1.16em .19em 0 auto;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5.6em;
}

.logo-section span {
	font-weight: 100;
}

.logo {
	max-width: 273px;
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 4.86em;
}

/* feedback section */

.feedback {
	color: #a19d9d;
	background-color: #fff;
	text-align: center;
	display: block;
	width: 100%;
	max-width: 335px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -226px;
	border: 1px solid #ebebeb;
	box-shadow: 0 1px #ebebeb;
	z-index: 10;
}

.input {
	margin: 2.07em 0 1.7em 0;
}

.feedback input {
	border: 1px solid #ebebeb;
	border-radius: 2px;
	color: #a19d9d;
	width: 78%;
	height: 36px;
	font-size: 16px;
	padding-left: 13px;
}

.feedback img {
	width: 100%;
}

.feedback a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #227dd3;
	width: 57%;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.7em;
	text-align: center;
}

.text {
	font-size: 1.14em;
	margin: 1.1em 0 0 0;
}

.button1 {
	text-align: center;
	font-size: 1.3em;
	margin: .9em 0 1.13em 0;
	padding: .25em 0;
	border-radius: 2px;
}

.button1:hover {
	color: #36a8ff;
	text-decoration: none;
}

/* boxes section */

.boxes {
	max-width: 874px;
	width: 68%;
	margin: 3.6em auto 0 auto;
}

.boxes:after {
	content: "";
	display: block;
	clear: both;
}

.boxes h4 {
	font-size: 1.93em;
}

.left {
	float: left;
}

.right,
.text-block-1,
.text-block-2 {
	float: right;
}

.left img,
.right img {
	float: left;
	max-width: 95px;
	width: 22%;
}

.text-block-1,
.text-block-2 {
	width: 70%;
}

.text-block-1 p {
	margin: .43em .3em 0 0;
    line-height: 22px;
}

.text-block-2 p {
	line-height: 22px;
    margin: .43em .14em 0 0;
}

/* content */

.content {
	background-size: cover;
	background-position: center;
	width: 100%;
	color: #fff;
	margin-top: 7.6em;
	background-color: #5fc18b;
}

.content p {
	line-height: 23px;
    font-weight: 300;
}

.section1 {
	padding-top: 9em;
	max-width: 648px;
	margin-right: auto;
	margin-left: auto;
}

.section1 img {
	margin-left: -17%;
	width: 100%;
	max-width: 504px;
}

.section1 h4 {
	text-align: center;
	font-size: 2.8em;
	font-weight: 400;
	padding-bottom: .75em;
	margin-top: -50%;
	margin-left: -10%;
}

.secondpart {
	margin-top: 3.2em; 
}

.section2 {
	background: url(../images/section2-bg.png) no-repeat;
	background-size: cover;
	padding-top: 27em;
}

.section2 h4 {
	font-size: 2.8em;
	font-weight: 400;
}

.section2 p {
	margin: 1.07em 0 0 .43em;
}

.section2 img {
	/*width: 100%;*/
	max-width: 624px;
}

.button {
	font-size: 1.9em;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: .3em 1.3em;
    margin: 1.4em 0 0 .5em;
}
.button:hover {
	text-decoration: none;
	color: grey;
	border: 3px solid grey;
}

/* contact */

.contact {
	background: url(../images/contact-bg.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 22.21em; 
}

.form {
	background: url(../images/input-bg.png) no-repeat;
	background-size: contain;
	text-align: center;
	position: relative;
	top: 12.3em;
	width: 100%;
	height: 439px;
	margin: 0 auto 0 auto;
	max-width: 439px;
}

.form p {
	padding-bottom: .5em;
}

.inputname {
	padding-top: 7.9em;
}

.form input {
	width: 65%;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	color: #a19d9d;
	height: 36px;
	padding-left: 13px;
	font-size: 1.14em;
}

.form textarea {
	font-size: 1.14em;
	width: 65%;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	color: #a19d9d;
	height: 84px;
	padding: .4em 0 0 .9em;
}

.check-icon {
	width: 100%;
	max-width: 66px;
	display: block;
	margin: 1.14em auto 0 auto;
}

.form-input {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* footer */

footer {
	padding: 14px 0;
	text-align: center;
	background-color: #43a06d;
	color: #fff;
}

/* responsive */

@media (max-width: 992px) {
	body,
	p,
	.text-block-1,
	.text-block-2 {
		font-size: 13px;
	}
	.text-block-1 h4,
	.text-block-2 h4 {
		margin-top: 0;
	}
	.section2 {
		padding: 20em 0 5em 0;
	}
}
@media (max-width: 768px) {
	.right {
		margin-top: 2.3em;
	}
	.right img,
	.left img {
		margin-left: 10%;
	}
	.text-block-1,
	.text-block-2 {
		width: 60%;
	}
	.logo-section h2 {
		font-size: 3em;
		padding-bottom: 6.6em;
	}
	.section2 {
		padding-top: 15em;
	}
	.section2 h4 {
		text-align: center;
		font-size: 2.3em;
	}
	.section2 img {
		top: 9em;
		margin-left: 8.33%;
	}
	.button {
		display: block;
		margin: 1em auto 0 auto;
		text-align: center;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.boxes {
		width: 90%;
	}
	.right {
		margin-top: 0;
	}
}
@media (max-width: 576px) {
	.right img,
	.left img {
		margin-left: 0;
		width: 30%;
	}
	.section1 img {
		margin-left: -27%;
	}
	.text-block {
		margin-top: 2em;
	}
	.section2 img {
		padding-top: 3em;
	}
}
@media (max-width: 500px) {
	.text-block-1,
	.text-block-2 {
		width: 100%;
	}
	.left img,
	.right img {
		width: 50%;
		margin-left: 25%;
		margin-bottom: 1.5em;
	}
	.text-block {
		margin-top: 4em;
	}
}
@media (max-width: 400px) {
	.form-input {
		width: 75%;
	}
	.inputname {
		padding-top: 5.9em;
	}
	.check-icon {
		margin-top: -1em;
	}
}
@media (max-width: 350px) {
	.section1 h4 {
		font-size: 2.4em;
		margin-left: 0;
	}
	.feedback {
		width: 90%;
	}
	.inputname {
		padding-top: 3.9em;
	}
}